<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- Google Icon Fonts used by Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS Framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <!-- JavaScript for Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    
  <nav>
    <a href="/recipes/new">Add New Recipe</a>  
    
    <a href="/recipes">All Recipes</a>
    
    </nav>


  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo left">EAT YO VEGGIES!!</a>
      <ul class="right">
        <li>
          <% if (user) { %>
              <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
              <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>

  <main>
