<%- include('../partials/header') %>


<form id="new-form" action="/recipes" method="POST">

<label>name:</label>
<input type="text" name="name">

<label>ingredients:</label>
<input type="text" name="ingredients">

<label>procedure:</label>
<input type="text" name="procedure">

<input type="submit" value='Add Recipe'>
</form>

<%- include('../partials/footer') %>
