<%- include('../partials/header') %>

<h1>Add a New Recipe</h1>


<form id="new-form" action="/recipes" method="POST">

<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="name" pattern="[A-Z].+" required>
    </div>

    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Ingredients:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="ingredients" pattern="[A-Z].+" required>
    </div>

    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Procedure:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="procedure" pattern="[A-Z].+" required>
    </div>

  </div>

  <input type="submit" class="btn" value='Add Recipe'>

</form>



<%- include('../partials/footer') %>
